
.bl-chips-container
  width: 100%
  margin-left: 20px
  background: #d4dce5
  display: flex
  .bl-single-chips
    background: white
    padding: 15px
    width: auto
    margin: 10px
    font-size: 20px

input
  font-size: 17px
  padding: 20px





