<div class="bl-container">

  <div class="bl-word-panel bl-display-flex">
    <div class="bl-text-align-center" style="flex: 1">
      <p>Add your own words to play a game!</p>
      <a routerLink="/add-words" routerLinkActive="active"><button class="bl-button">Your Words</button></a>

    </div>
    <div class="bl-text-align-center" style="flex: 1">
      <p>Select words from our database!</p>
      <button class="bl-button">Our Words</button>
    </div>

  </div>

  <div class="bl-word-panel bl-display-flex">
    <div class="bl-text-align-center" style="flex: 1">
      <p>What is your speed? Type something on keyboard to determine game speed</p>
      <a routerLink="/add-words" routerLinkActive="active"><button class="bl-button">Check Speed!</button></a>

    </div>


  </div>
  <div class="bl-word-panel bl-display-flex">


  </div>


</div>

