<div class="bl-container">
  <div class="bl-word-panel">

  </div>
  <div class="bl-word-panel">
    <div class="bl-word-panel-label bl-display-flex bl-display-flex-jcc">
      <p class="bl-text-font-size-big">{{ current_word }}</p>
    </div>
    <div class="bl-progress-bar"
         [ngStyle]="{'width': progress_bar + '%'}" style="background: green"></div>
    <div class="bl-word-panel-word bl-display-flex bl-display-flex-jcc">


      <input class="bl-input bl-text-font-size-big bl-text-align-center bl-width-100" placeholder="{{word_to_translate}}"
             [(ngModel)]="user_input" (ngModelChange)="modelChangeFn($event)">
    </div>
    <div class="bl-progress-bar" [ngStyle]="{'width': bart + '%'}"></div>

<!--    <progress value="{{cycle_time_left}}" max="{{time}}"></progress>-->
    <div class="bl-word-panel-info bl-display-flex bl-display-flex-jcc">
      <p style="font-size: 40px">points: {{ points }} | time left: {{ cycle_time_left | numberToSeconds}}</p>
    </div>
  </div>
  <button (click)="startEverything()">start everything!</button>
  <button (click)="stopIntervals()">stop small interval</button>

  <div class="bl-word-panel bl-flying-box">

    <table>
      <thead>
      <tr>
        <th>Origin Word</th>
        <th>Translated Word</th>
        <th>Origin Time</th>
        <th>Time Left</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let elem of passed_words">
        <td>{{ elem.origin_word }}</td>
        <td>{{ elem.translated_word }}</td>
        <td>{{ elem.origin_time }}</td>
        <td>{{ elem.time_left }}</td>
      </tr>
      </tbody>
    </table>


  </div>

</div>


<button (click)="lalax()">lalax</button>
