<div class="bl-container">
  <div class="bl-word-panel">

  </div>
  <div class="bl-word-panel" [ngStyle]="{'backgroundColor': answer_color === true ? '#648d64' : 'white' }">
    <div class="bl-word-panel-label bl-display-flex bl-display-flex-jcc">
      <p class="bl-text-font-size-big">{{ current_word }}</p>
    </div>
    <button (click)="game_mode = 'normal'">game_mode = normal</button>
    <button (click)="game_mode = 'reverse'">game_mode = reverse</button>
    <p>game_mode : {{ game_mode }}</p>
    <div class="bl-progress-bar"
         [ngStyle]="{'width': progress_bar + '%'}" style="background: #648d64"></div>
    <div class="bl-word-panel-word bl-display-flex bl-display-flex-jcc">


      <input #value_input class="bl-input bl-text-font-size-big bl-text-align-center bl-width-100"
              [placeholder]="is_progress_bar === false ? word_to_translate : ''"
             [(ngModel)]="user_input" (ngModelChange)="modelChangeFn($event)"
             [attr.disabled] = "is_progress_bar === true ? 'disabled' : null">


    </div>
    <div class="bl-progress-bar" [ngStyle]="{'width': temp_numb + '%'}"></div>

<!--    <progress value="{{cycle_time_left}}" max="{{time}}"></progress>-->
    <div class="bl-word-panel-info bl-display-flex bl-display-flex-jsb">
      <p> {{ points }}/9</p>
      <p style="transition: all 1s"> {{ cycle_time_left | numberToSeconds}} sec</p>
    </div>
  </div>
  <button (click)="startEverything()">start everything!</button>
  <button (click)="stopIntervals()">stop small interval</button>
  <div class="bl-word-panel bl-flying-box">

    <table>
      <thead>
      <tr>
        <th>Origin Word</th>
        <th>Translated Word</th>
        <th>Origin Time</th>
        <th>Time Left</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let elem of passed_words">
        <td>{{ elem.origin_word }}</td>
        <td>{{ elem.translated_word }}</td>
        <td>{{ elem.origin_time }}</td>
        <td>{{ elem.time_left }}</td>
      </tr>
      </tbody>
    </table>


  </div>

</div>

